<mat-toolbar color="primary">
    <span>MI BIBLIOGRAFIA</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/inicio">Inicio</button>
    <button mat-button routerLink="/acerca">Acerca De Mi</button>
    <button mat-button routerLink="/contacto">Contacto</button>
    <span class="example-spacer"></span>
    <button routerLink="/inicio" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>home</mat-icon>
      </button>
  </mat-toolbar>
